<h1><%= APP_CONFIG['tension']['site_name'] %> Admin Dashboard</h1>

<div id='extension'>
	
<div class="column span-16">	
  <h4 class='extensions_by_month'>Extensions by month</h4>
  TODO
</div>

<div class="column span-8 last">
	<h4 class='statictics'>Statictics</h4>
	<ul>
	  <li><%= pluralize(@extensions.size, 'extension') %></li>
	  <li><%= pluralize(@users.size, 'users') %></li>
	</ul>
</div>

</div>
