body {
  background-color: #333333;
  color: #333;
}

a:link {
  color: #005A96;
  text-decoration: none;
}

a:visited {
  color: #005A96;
  text-decoration: none;
}

#header {
  border-top: 6px solid #333;
  background-color: #252571;
  height: 110px;
}

#header #logo {
  padding: 10px 0 10px 0;
}

#navigation {
  background-color: #005A96;
  height: 40px;
  color: #fff;
}


#menu {
  background-color: #EAF0FA;
  padding: 10px 0 10px 0;
}

#menu-author {
  background: #fff;
  padding: 10px;
  border: 1px solid #BCD3FA;
}

#navlist {
  margin: 0;
}

#navlist li {
  display: inline;
  list-style-type: none;
  float: left; 
  display: block; 
  padding: 5px 25px 5px 25px; /* left pad is width of icon image */ 
  background: transparent url('/images/icons/add.png') no-repeat left center;
}

#navlist li.extension {
  background: transparent url('/images/icons/extension.png') no-repeat left center;
}

#navlist li.profile {
  background: transparent url('/images/icons/profile.png') no-repeat left center;
}

#navlist li.admin_zone {
  background: transparent url('/images/icons/lock.png') no-repeat left center;
}


#navlist li.logged_in {
  background: transparent url('/images/icons/author.png') no-repeat left center;
}

#navlist li.not_logged_in {
  background: transparent url('/images/icons/author-not-logged.png') no-repeat left center;
}

#navlist li.remove {
  background: transparent url('/images/icons/delete.png') no-repeat left center;
}




#wrapper {
  background: #fff url('/images/bg_content.png') repeat-x;
  padding: 10px;
}

#content {
  margin-top: 10px;
  margin-bottom: 50px;
}

#sidebar {
}

#sidebar h2 {
  color:#333333;
  font-size:90%;
  margin-bottom:5px;
}


#footer {
  background-color: #333;
  color: #fff;
  padding-top: 20px;
}


#footer h3 {
  color: #B4D000;
}

#content h1 {
  letter-spacing: -1px;
  font-size: 26px;
  font-weight: bold;
}

#extension {
  padding-bottom: 26px;
  margin-bottom: 40px;
  clear: both; 
}

#extension h3 {
  margin-bottom: 6px;
  text-transform: none; 
  background: #005A96 url('/images/icons/extension.png') 10px 50% no-repeat; 
  padding: 8px 50px 8px 35px;
  font-weight: bold;
  color: #EBF7FA;
}

#extension h3.news {
  background: #999 url('/images/icons/bricks.png') 10px 50% no-repeat; 
  color: #fff;
  margin: 20px 0 20px 0;
}

#extension h3 a {
  color: #EBF7FA;
}

#extension h3 a:hover {
  color: #fff;
}

#extension h4 {
  margin-bottom: 6px;
  text-transform: none; 
  background: #eee url('/images/icons/description.png') 10px 50% no-repeat; 
  padding: 5px 50px 5px 35px;
  font-weight: bold;
  color: #000;
}
#extension h4 a {
  display: block;
}


#extension h4.description {
  background: #eee url('/images/icons/description.png') 10px 50% no-repeat; 
  margin-bottom: 20px;
}

#extension h4.versions {
  background: #eee url('/images/icons/versions.png') 10px 50% no-repeat; 
}

#extension h4.author {
  background: #eee url('/images/icons/author.png') 10px 50% no-repeat; 
}

#extension h4.url {
  background: #eee url('/images/icons/world.png') 10px 50% no-repeat; 
}

#extension h4.extensions {
  background: #eee url('/images/icons/extension.png') 10px 50% no-repeat; 
}

#extension span.posted {
  color: #000;
}

#extension #tagged {
  text-align: right;
  color: #000;
}


#extension span.last_commit {
  display: block;
  color: #B4D000;
  margin-bottom: 6px;
}

.widget {

  display:block;
  margin-bottom:20px;
  overflow:hidden;
  padding: 10px;
}

.widget p {
  margin-bottom:5px;
  font-size: 10pt;
}


#tags a {
  color: #2F339F;
  line-height: 25px;
  padding: 2px 4px;
  margin: 2px 0px;
  text-decoration: none;
}

#tags a:hover {
  background-color: #2F339F;
  color: #FFFFFF;
}


div.pagination {
	padding: 3px;
	margin: 3px;
	text-align: left;
}

div.pagination a {
	border: 1px solid #dedfde;
	margin-right:3px;
	padding:2px 6px;

	background-position:bottom;
	text-decoration: none;

	color: #005A96;		
}
div.pagination a:hover, div.meneame a:active {
	border: 1px solid #005A96;
	background-image:none;
	background-color:#005A96;
	color: #fff;
}
div.pagination span.current {
	margin-right:3px;
	padding:2px 6px;
	
	font-weight: bold;
	color: #B4D000;
}
div.pagination span.disabled {
	margin-right:3px;
	padding:2px 6px;

	color: #adaaad;
}

ul.url-list {
  list-style-type: none;
  margin: 0;
}

.gravatar {
  text-align: center;
}
.gravatar-mini {
  border: 2px solid #ccc;
}

.gravatar-big {
  border: 8px solid #ddd;
}

#personal-data {
  margin: 10px 0 10px 0;
}



#login-bar {
  text-align: right;
}

#login-bar ul li {
  float: right;
}

#author{
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.name {
  border: 1px solid #ff009;
}

input.text_field,
textarea, select {
  margin:0.5em 0;
  border:1px solid #bbb;
  padding: 5px;
}




ul#tabnav { /* general settings */
  text-align: left; /* set to left, right or center */
  margin: 0;
  list-style-type: none;
}

ul#tabnav li { /* do not change */
  display: inline;
  margin-right: 10px;
  padding: 4px 8px; 
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}


ul#tabnav li a { /* settings for all tab links */
  color: #fff;
  text-decoration: none;
  border-bottom: none;
}

ul#tabnav li:hover { /* settings for hover effect */
  background: #B6D2E2; /* set desired hover color */
}

ul#tabnav li.active, ul#tabnav li.active:hover  {
  color: #fff;
  background-color: #B4D000;
}


#navigation #logo, #navigation #tabs {
  padding: 10px 0;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }