<h1>Extensions working with <%= @version.extension_name  %></h1>

<div id='extension'>
	<% @version.extensions.each do |extension| %>
     <div class="column span-24">
	    <h3><%= link_to extension.name, extension_path(extension) %></h3>	
     </div>	
	<% end %>
</div>